---
layout: default
description: Geomob is a regular event held online and in various European cities for location based service creators and enthusiasts.
---
<div class="row pt10">
  <div class="col-md-3 gray pt10">
    {% include stay-informed.html %}
    <div class="pt10"> 
      {% include learn-more.html %}
    </div>
  </div>
  <div class="col-md-1"> </div>
  <div class="col-md-4 gray pt10">
    {% include upcoming-events.html %}    
  </div>
  <div class="col-md-1"> </div>  
  <div class="col-md-3 gray pt10">
      {% include podcast-teaser.html %}
  </div>  
</div>

