---
layout: default
---
<div class="row pt10 ctr">
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert">
      The March 18th #geomobLON event has unfortunately been cancelled.
      We hope to reschedule the speakers in the future.
      <div class="pt10">
        A decision about the March 26th #geomobMUC event will be taken shortly.
      </div>
    </div>
  </div>  
</div>
<div class="row pt10">
  <div class="col-md-3 gray pt10">
    {% include stay-informed.html %}
  </div>
  <div class="col-md-1"> </div>
  <div class="col-md-4 gray pt10">
    {% include upcoming-events.html %}    
  </div>
  <div class="col-md-1"> </div>  
  <div class="col-md-3 gray pt10">
      {% include podcast-teaser.html %}
      {% include learn-more.html %}
  </div>  
</div>

