<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<style>
  body {
    color: #333;
  }
  a {
    color: #337ab7;  
  }
  ul {
    padding-left: 20px;
  }
  h2 {
    font-size: 2em;
    margin-bottom: 0.2em;
    padding-bottom: 20px;
  }
  #sidebar {
    background-color: #eee;
    padding: 1em;
  }
  .section-head {
    background-color: #1a8865;
    color: white;
    text-align:center;  
  }
  .post-list {
    list-style-type: none;
    padding-left: 0;
  }
  .os {
    padding-top: 5px;
  }
  .p40 {
    margin-bottom:40px;
  }
  .p20 {
    padding-top:20px;
  }  
  .p10 {
    padding-top:10px;
  }
  .center-image {
    display: block;
    margin: 0 auto;
    padding-bottom:5px;
    padding-top:5px;
    text-align:center;
  }
</style>
