<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style type="text/css">
  body {
    color: #333;
  }
  ul {
    padding-left: 20px;
  }
  h2 {
    font-size: 2em;
    margin-bottom: 0.2em;
  }
  #sidebar {
    background-color: #eee;
    padding: 1em;
  }
  .post-list {
    list-style-type: none;
    padding-left: 0;
  }
  .os {
    padding-top: 5px;
  }
  .p40 {
    margin-bottom:40px;
  }
  .p20 {
    padding-top:20px;
  }  
  .p10 {
    padding-top:10px;
  }
  .center-image {
    display: block;
    margin: 0 auto;
    padding-bottom:5px;
    padding-top:5px;
    text-align:center;
  }
</style>
