<div class="row">
  <div class="col-md-12 ctr">
    <a href="/"><img src="/images/geomob-v2.png" alt="#geomob"></a>    
    <h1>Geoinnovation - for fun or profit</h1>
    <div style="font-style:italic;">
      Geomob is a series of regular events in European cities for location based service creators and enthusiasts.
      <br/>
      We meet every few months, and provide a relaxed forum to learn about and discuss geoinnovation in any and all forms.
    </div>
  </div>
</div>
{% include green_stripe.html %}

