<div class="row">
  <div class="col-md-12 ctr">
    <a href="/"><img src="/images/geomob-v2.png" alt="#geomob"></a>    
    <div class="tagline">Geoinnovation - for fun or profit</div>
    <div class="italic">
      Geomob is a series of regular events in European cities for location based service creators and enthusiasts.
      <br/>
      We meet every few months, and provide a relaxed forum to learn about and discuss geoinnovation in any and all forms.
    </div>
  </div>
</div>
{% include green_stripe.html %}

