<div><h4>Geomob is made possible by:</h4></div>
<div class="section-sub">&nbsp;</div>
<div class="row pt20">
  <div class="col-md-6 ctr">  
    <a href="http://www.splash-maps.com">
      <img src="/images/splashmaps.jpg" alt="SplashMaps" width="150" height="36">
    </a>    
  </div>  
  <div class="col-md-6 ctr">
    <a href="https://developers.arcgis.com/startups/">
      <img src="/images/esri2.png" alt="Esri Startup Programme" width="200" height="75">
    </a>
  </div>
</div>
<div class="row pt10">
  
  <div class="col-md-6 ctr">
    <a href="https://opencagedata.com/?ocs=10"><img src="/images/opencage.png" height="100" width="200" alt="OpenCage Geocoder"></a>
    <p>
    <span style="font-size:0.8em">OpenCage: an easy, open, worldwide, affordable, <a href="https://opencagedata.com/?ocs=10">geocoding API</a></span>
  </div>
  
  <div class="col-md-6 ctr">
    <a href="http://mappery.org/">
      <img src="/images/mappery2.png" alt="Mappery" width="153" height="150">
    </a>
  </div>
</div>

