<div class="p10">
  <h3 class="section-head">Organized by</h3>
  <div class="p10">    
    <h4>Global</h4>
    <div class="section-sub">&nbsp;</div>
  </div>
  <div class="p10 ctr">
    <a href="https://opencagedata.com"><img src="/images/opencage-geocoder-logo.green.svg" height="70" alt="OpenCage Geocoder"></a>
  </div>

  <div class="p10">    
    <h4>Munich</h4>
    <div class="section-sub">&nbsp;</div>
  </div>
  <div class="p10 ctr">
    <a href="https://geoawesomeness.com"><img src="/images/geoawesomeness.png" height="120" width="200" alt="Geoawesomeness"></a>
  </div>
  
</div>
