
<div style="font-weight:bold;">Other sites we're reading:</div>
<ul class="blogroll" style="margin-bottom:2em;margin-top:5px;">
  <li class="os"><a href="http://www.freyfogle.com/blog.html" title="Barcelona et Orbi" style="color:  #666">Ed Freyfogle's blog</a></li>
  <li class="os"><a href="http://geohipster.com" title="Geohipster" style="color:  #666">Geohipster</a></li> 
  <li class="os"><a href="http://tinyletter.com/getputpost" title="GET PUT POST" style="color:  #666;">GET PUT POST</a></li>
  <li class="os"><a href="https://www.graphhopper.com/blog/" title="GraphHopper" style="color:  #666;">GraphHopper blog</a></li>
  <li class="os"><a href="https://blog.ipinfo.io" title="ipinfo" style="color:  #666;">ipinfo blog</a></li>
  <li class="os"><a href="https://blog.openstreetmap.org/" title="OpenStreetMap blog" style="color:  #666">OpenStreetMap blog</a></li>        
  <li class="os"><a href="http://blog.openstreetmap.de" title="OpenStreetMap Wochennotitz" style="color:  #666">OSM Wochennotitz</a></li>
  <li class="os"><a href="http://perlweekly.com/latest.html" title="Perl Weekly" style="color:  #666">Perl Weekly</a></li>
  <li class="os"><a href="http://blog.programmableweb.com/" title="Programmable Web" style="color:  #666">Programmable Web</a></li>
  <li class="os"><a href="http://www.splash-maps.com/blog/" title="SplashMaps Blog" style="color:  #666">SplashMaps Blog</a></li>
  <li class="os"><a href="http://bigthink.com/blogs/strange-maps" title="Strange Maps" style="color:  #666">Strange Maps</a></li>
  <li class="os"><a href="http://what3words.tumblr.com" title="what3words Blog" style="color:  #666">what3words</a></li>
</ul>


  
