<div class="pt20 italic">
  The Geomob podcast is hosted by
  <a href="https://freyfogle.com/">Ed Freyfogle</a>, co-founder of
  <a href="https://opencagedata.com/?ocs=10">OpenCage</a>,
  and
  <a href="https://twitter.com/StevenFeldman">Steven Feldman</a>, 
  of
  <a href="https://knowwhereconsulting.co.uk/">KnowWhere Consulting</a>.
  We discuss themes from the geo industry, interview Geomob speakers, and
  provide regular updates about our own projects. We publish a new episode every week. 
</div>
