{% include podcast-newest-three.html %}
    <li class="pt10">
      <a href="/podcast/episode-46">46: Vivien Godfrey: Stanfords</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-45">45: Andrew Hart: Dent Reality</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-44">44: Ian Watt: Code the City</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-43">43: Ed/Steven: Planning for 2021</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-42">42: Jeremy Morley: Looking back on OSMGB</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-41">41: Abigail Page: GeoCommunity 2020</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-40">40: Sean Gorman: Pixel8.earth</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-39">39: Helen Ilus: Greenground Map</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-38">38: David Overton, Ian Holt: SplashMaps</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-37">37: Gary Gale: Whereonearth</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-36">36: Ed/Steven: Geo news review</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-35">35: Sarah Hoffmann: Nominatim</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-34">34: Nan Deardorff-McClain: ceramic map of Delft</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-33">33: Daniel O'Donohue: MapScaping</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-32">32: Jo Cook: OSGeo:UK</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-31">31: Quintin Lake: Walking the perimiter of Great Britain</a>
    </li>    
    <li class="pt10">
      <a href="/podcast/episode-30">30: Ed/Steven: Summer catch up</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-29">29: Allan Mustard: OSMF Board</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-28">28: Camila González Arango: On-demand mobility</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-27">27: John Craig: Location Based Advertising</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-26">26: María Arias de Reyna</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-25">25: Randy Meech: StreetCred</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-24">24: Peter Karich: Graphhopper</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-23">23: Denise McKenzie: Benchmark Initiative</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-22">22: Harry Wood: OpenStreetMap London</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-21">21: Ed/Steven: Free is great. Or is it?</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-20">20: Andy Coote: ConsultingWhere</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-19">19: Previewing FOSS4GUK Online 2020</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-18">18: Giuseppe Sollazzo: Open data aficionado</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-17">17: How Geomob works</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-16">16: Muthukumar Kumar: Geomob Munich, Geoawesomeness</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-15">15: Raf Roset: LinksGeo</a>
    </li>
    <li class="pt10">    
      <a href="/podcast/episode-14">14: Jan-Piet Mens: OwnTracks</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-13">13: Ed/Steven; Reflecting on our first Geomob online</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-12">12: Kenneth Field of Esri</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-11">11: Ed Parsons of Google</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-10">10: Andy Allan of Thunderforest</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-9">9: Alex Wrottesley of Geovation</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-8">8: Alexis Batlle of AVUXI</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-7">7: Privacy and Location - Ed/Steven</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-6">6: Steve Chilton</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-5">5: Mapping coronavirus - Ed/Steven</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-4">4: Joana Simoes</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-3">3: Mappery / FOSS4G - Ed/Steven</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-2">2: Meet co-host Steven Feldman</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-1">1: Introducing the podcast</a>
    </li>
