{% include podcast-newest-three.html %}
    <li class="pt10">
      <a href="/podcast/episode-12">Ep 12: Interview: Kenneth Field of Esri</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-11">Ep 11: Interview: Ed Parsons of Google</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-10">Ep 10: Interview: Andy Allan of Thunderforest</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-9">Ep 9: Interview: Alex Wrottesley of Geovation</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-8">Ep 8: Interview: Alexis Batlle of AVUXI</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-7">Ep 7: Privacy and Location</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-6">Ep 6: Interview: Steve Chilton</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-5">Ep 5: Mapping coronavirus</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-4">Ep 4: Interview: Joana Simoes</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-3">Ep 3: Mappery / FOSS4G</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-2">Ep 2: Steven Feldman</a>
    </li>
    <li class="pt10">
      <a href="/podcast/episode-1">Ep 1: Introducing the podcast</a>
    </li>
