<div id="sidebar">
  <div>
    <h3 class="section-head">2019 event schedule</h3>    
    <b>London</b>: 
    <a href="/post/jan-16th-2019-geomob-details">16 Jan</a>,
    <a href="/post/mar-19th-2019-geomob-details">19 March</a>,
    mid-June,
    mid-Sept,
    mid-Nov
    <div class="p20">
      <b>Barcelona</b>:
      <a href="/post/jan-30th-2019-geomob-barcelona-details">30 Jan</a>,
      <a href="/post/apr-24th-2019-geomobbcn-details">24 April</a>,
      early Oct.
    </div>
  </div>

  <div class="p20 ctr">
    <h3 class="section-head">Stay informed</h3>
    <div class="p10">
      <a href="/mailing-list" class="btn btn-primary btn-lg">Join the mailing list</a>
    </div>
      
    <div class="p20 ctr">
      <a href="https://twitter.com/geomob" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @geomob</a>
    </div>
  </div>    
    

  <div class="p20">
    <h3 class="section-head">What is #geomob?</h3>        
    
    Started in 2008, #geomob is a series of regular events for London and Barcelona
    location based service creators. We meet every two or three months, and provide a
    relaxed forum to discuss geoinnovation, whether for fun or profit. Please
    <a href="https://opencagedata.com/contact">get in touch</a> if you would
    like to speak.
  </div>
  <div class="p10">
    <a href="/past-speakers">Directory of past speakers</a>.
  </div>
  
  <div class="p10 ctr">
    <h3 class="section-head">Organized by</h3>
    <div class="p10">    
      <a href="https://opencagedata.com">
        <img src="/images/opencage-geocoder-logo.green.svg" height="70" alt="OpenCage Geocoder">
      </a>
    </div>    
  </div>


  
  <div class="p20">  
    <h3 class="section-head">Our Sponsors</h3>
    <div class="p10 ctr">    
      <a href="/sponsorship">Become a sponsor</a>
    </div>

    <div class="p10">    
      <h4>Global</h4>
      <div class="section-sub">&nbsp;</div>
    </div>
    
    <div class="p10 ctr">    
      <a href="https://localistico.com">
        <img src="/images/localistico.png" alt="Localistico" width="200" height="75">
      </a>
    </div>

    <div class="p20 ctr">    
      <a href="http://mappery.org/">
        <img src="/images/mappery.png" alt="Mappery" width="200" height="196">
      </a>
    </div>

    <div class="p10">    
      <h4>London</h4>
      <div class="section-sub">&nbsp;</div>
    </div>

    <div class="p10 ctr">
      <a href="https://developers.arcgis.com/startups/">
        <img src="/images/esri2.png" alt="Esri Startup Programme" width="200" height="75">
      </a>
    </div>
    
    <div class="p20 ctr">    
      <a href="http://www.splash-maps.com">
        <img src="/images/splashmaps.jpg" alt="SplashMaps" width="150" height="36">
      </a>
    </div>

    <div class="p10">    
      <h4>Barcelona</h4>
      <div class="section-sub">&nbsp;</div>
    </div>

    <div class="p10 ctr">
      <a href="https://www.avuxi.com">
        <img src="/images/avuxi.png" alt="AVUXI" width="140" height="70">
      </a>
    </div>
    
  </div>
  
  <div class="p20">
    <h3 class="section-head">Venue Partners</h3>

    <div class="p10">    
      <h4>London</h4>
      <div class="section-sub">&nbsp;</div>
    </div>    
    <div class="p10 ctr">
      <a href="https://geovation.uk">
        <img src="/images/geovation_margin.png" alt="GEOVATION" width="200" height="26">
      </a>     
    </div>
    <div class="p20 ctr">
      <a href="https://www.geog.ucl.ac.uk">
        <img src="/images/UCL_margin.png" alt="UCL Dept. of Geography" width="200" height="73">
      </a>     
    </div>

    <div class="p10">    
      <h4>Barcelona</h4>
      <div class="section-sub">&nbsp;</div>
    </div>    
    
    <div class="p20 ctr">
      <a href="https://coworkidea.com/en/">
        <img src="/images/coworkidea.png" alt="Coworkidea" width="200" height="60">
      </a>     
    </div>
    
  </div>
</div>
