<div id="sidebar">
  <div class="p40" style="text-align:center;">
    <p>
      <strong>The <a href="https://geocoder.opencagedata.com">OpenCage Geocoder</a> is an API to convert coordinates to and from places.</strong>
    </p>
    <a href="https://geocoder.opencagedata.com"><img src="/images/reverse.jpg" style="width:100%;"></a>
  </div>
  <div class="p40">
    <div class="p10">
      We aggregate numerous open geo data sources under a
      single, easy-to-use, affordable, worldwide geocoding API.
    </div>
    <div class="p10">
      <ul id="othersites">
        <li><a href="https://geocoder.opencagedata.com/api">See the docs</a></li>
        <li><a href="https://geocoder.opencagedata.com/demo">Play with a demo</a></li>
        <li><a href="https://geocoder.opencagedata.com/pricing">Check out pricing</a></li>
    </div>
  </div>

  <div class="p20">
    Here on our blog we announce updates to our service, but also regularly publish <a href="http://blog.opencagedata.com/tagged/interview">interviews with thought leaders from the open geo and open data world</a>. Please let us know who you'd like to hear from.
  </div>

  <div class="p40">
    <a href="https://twitter.com/opencagedata" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @opencagedata</a>
  </div>

  <div class="p40">
    We organize <a href="http://geomobldn.org">#geomob</a>, the London  meetup
    for location based service developers. We hope to see you at the next event.

    <div class="p20" style="text-align:center;">
      <a href="http://geomobldn.org"><img src="https://geocoder.opencagedata.com/geomob/geomob.jpg"></a>
    </div>
  </div>
  
  <div class="p40">
    {% include othersites.html %}
  </div>
</div>
