<div id="sidebar">
  <div class="p20">
  <b>Our 2018 events</b>:
  <br/>
  <a href="/post/january-23rd-geomob-details">23 Jan</a>, 
  <a href="/post/april-25th-geomob-details">25 April</a>,
  <a href="/post/june-6th-2018-geomob-details">6 June</a>,
  <a href="/post/sept-6th-2018-geomob-details">6 Sept</a>,
  <a href="/post/nov-7th-2018-geomob-details">7 Nov</a>
  </div>  
  <div class="p20">  
  The 2019 schedule will be posted in October 2018.
  
  </div>
  <div style="text-align:center;" class="p20">
    <a href="https://twitter.com/geomob" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @geomob</a>
  </div>

  <div class="p20">
    Started in 2008, #geomob is a regular event for London location based
    service developers. We meet every two months. We provide a forum to discuss geo innovation, whether for fun or profit.
  </div>
  
  <div class="p20" style="text-align:center;">
    <h3>Our Sponsors:</h3>
    <div class="p10">
      <a href="https://carto.com">
        <img src="/images/CARTO.png" alt="CARTO">
      </a>     
    </div>

    <div class="p20">
      <a href="https://developers.arcgis.com/startups/">
        <img src="/images/esri2.png" alt="Esri Startup Programme">
      </a>
    </div>

    <div class="p20">
      <a href="https://flockcover.com">
        <img src="/images/flock.png" alt="Flock">
      </a>
    </div>
    
    <div class="p20">    
      <a href="https://knowwhereconsulting.co.uk">
        <img src="/images/knowwhere.png" alt="KnowWhere">
      </a>
    </div>    
    
    <div class="p20">    
      <a href="https://opencagedata.com">
        <img src="/images/opencage-geocoder-logo.green.svg" height="70" alt="OpenCage Geocoder">
      </a>
    </div>

    <div class="p20">    
      <a href="http://www.splash-maps.com">
        <img src="/images/splashmaps.jpg" alt="SplashMaps">
      </a>
    </div>

  </div>

  <div class="p20">    
    <a href="/sponsorship">Become a #geomob sponsor</a>
  </div>
  
  <div class="p20">    
    <a href="/past-speakers">Directory of past speakers</a>
  </div>

</div>
