<div class="row p20">
  <div class="col-md-12">      
    <h4>London Sponsors:</h4>
    <div class="section-sub">&nbsp;</div>
  </div>
</div>
<div class="row p20">
  <div class="col-md-6 ctr">
    <a href="https://developers.arcgis.com/startups/">
      <img src="/images/esri2.png" alt="Esri Startup Programme" width="200" height="75">
    </a>
  </div>
  <div class="col-md-6 ctr">
    <a href="http://www.splash-maps.com">
      <img src="/images/splashmaps.jpg" alt="SplashMaps" width="150" height="36">
    </a>    
  </div>
</div>

