<div class="row p20">
  <div class="col-md-12">      
    <h4>Global Sponsors:</h4>
    <div class="section-sub">&nbsp;</div>
  </div>
</div>
<div class="row p20">
  <div class="col-md-6 ctr">
    <a href="https://localistico.com">
      <img src="/images/localistico.png" alt="Localistico" width="200" height="75">
    </a>
  </div>
  <div class="col-md-6 ctr">  
    <a href="http://mappery.org/">
      <img src="/images/mappery.png" alt="Mappery" width="200" height="196">
    </a>
  </div>  
</div>
{% include become_a_sponsor.html %}

