<div class="">
  <h3 class="section-head ctr">Subscribe</h3>
  <div>
    
    <ul style="list-style:none; text-align:center;" >
      <li class="pt10 align-center"><a href="https://podcasts.apple.com/gb/podcast/geomob-podcast/id1500132553"><img src="/images/apple.png" alt="subscribe in Apple podcasts"></a></li>
      <li class="pt10"><a href="https://podcasts.google.com/feed/aHR0cHM6Ly9nZW9tb2ItcG9kY2FzdC5jYXN0b3MuY29tL2ZlZWQ"><img src="/images/google-podcasts.png" alt="subscribe in Google podcats"></a></li>      
      <li class="pt10"><a href="https://overcast.fm/itunes1500132553"><img src="/images/overcast.png" alt="subscribe in Overcast"></a></li>
      <li class="pt10"><a href="https://www.amazon.com/Geomob/dp/B08K59SHJ6/"><img src="/images/amazon.png" alt="subscribe in Amazon"></a></li>              
      <li class="pt10"><a href="https://pca.st/l9euvzus"><img src="/images/pocketcasts.png" alt="subscribe in Pocket Casts"></a></li>
      <li class="pt10"><a href="https://www.stitcher.com/podcast/geomob-podcast"><img src="/images/stitcher.png" alt="subscribe in Stitcher"></a></li>

      <li class="pt10"><a href="https://castro.fm/itunes/1500132553"><img src="/images/castro.png" alt="subscribe in Castro"></a></li>      
      <li class="pt10"><a href="https://geomob-podcast.castos.com/feed"><img src="/images/rss.png" alt="RSS feed"></a></li>
    </ul>
    
  </div>
</div>    
