<div class="">
  <h3 class="section-head ctr">Subscribe</h3>
  <div>
    <ul>
      <li class="pt10"><a href="https://podcasts.apple.com/gb/podcast/geomob-podcast/id1500132553">Apple Podcasts</a></li>
      <li class="pt10"><a href="https://pca.st/l9euvzus">Pocket Casts</a></li>
      <li class="pt10"><a href="https://www.stitcher.com/podcast/geomob-podcast">Stitcher</a></li>
      <li class="pt10"><a href="https://overcast.fm/itunes1500132553">Overcast</a></li>
      <li class="pt10"><a href="https://castro.fm/itunes/1500132553">Castro</a></li>      
      <li class="pt10"><a href="https://geomob-podcast.castos.com/feed">RSS feed</a></li>
    </ul>
    
  </div>
</div>    
