<div class="">
  <h3 class="section-head ctr">Subscribe</h3>
  <div>
    
    <ul class="podlist">
      <li class="pt10 align-center">
        <a href="https://podcasts.apple.com/gb/podcast/geomob-podcast/id1500132553"><img width="150" src="/images/podcast/subscribe-badges/apple.png" alt="subscribe in Apple podcasts"></a>
      </li>
      <li class="pt10">
        
        <a href="https://podcasts.apple.com/gb/podcast/geomob/id1500132553"><img src="/images/podcast/subscribe-badges/google-podcasts.png" alt="subscribe in Google podcasts"></a>
      </li>
      <li class="pt10">
        <a href="https://overcast.fm/itunes1500132553"><img width="150" src="/images/podcast/subscribe-badges/overcast.png" alt="subscribe in Overcast"></a>
      </li>
      <li class="pt10">
        <a href="https://www.amazon.com/Geomob/dp/B08K59SHJ6/"><img width="150" src="/images/podcast/subscribe-badges/amazon.png" alt="subscribe in Amazon"></a>
      </li>
      <li class="pt10">
        <a href="https://pca.st/l9euvzus"><img width="150" src="/images/podcast/subscribe-badges/pocketcasts.png" alt="subscribe in Pocket Casts"></a>
      </li>
      <li class="pt10">
        <a href="https://www.stitcher.com/podcast/geomob-podcast"><img width="150" src="/images/podcast/subscribe-badges/stitcher.png" alt="subscribe in Stitcher"></a>
      </li>
      <li class="pt10">
        <a href="https://castro.fm/itunes/1500132553"><img src="/images/podcast/subscribe-badges/castro.png" alt="subscribe in Castro"></a>
      </li>
      <li class="pt10">
        <a href="https://geomob-podcast.castos.com/feed"><img width="150" src="/images/podcast/subscribe-badges/rss.svg" alt="RSS feed"></a>
      </li>
    </ul>
    
  </div>
</div>    
