<div class="heading">Thanks</div>

Geomob would not be possible without speakers and sponsors.
Over the years we have had so many fantastic talks, spanning the range from
inspirational to informative to weird and wacky. See the list of
[all the past speakers](/past-speakers). Please
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdDaQz98ef_tMCJmvYjspoTX5Yv8ll-fNHWO4Yk57ZCCDE__g/viewform">get in touch</a> if you would like
to speak at a future geomob.

<div class='pt10'>
  Many thanks to our speakers, our hosts,
  and of course to our sponsors for making the event possible.
</div>
