<div>
  <h3 class="section-head pt1">Event schedule</h3>
  <div class="pt10">
    <b>Online Talks</b>:
    <a href="/post/jan-13th-2021-geomob-details">13 Jan</a>,
    <a href="/post/feb-23rd-2021-geomob-details">23 Feb</a>,    
    <a href="/post/mar-24th-2021-geomob-details">24 Mar</a>,
    <a href="/post/may-12th-2021-geomob-details">12 May</a>,
    <a href="/post/june-16th-2021-geomob-details">12 June</a>    
  </div>
  
  <div class="pt10">
    <b>In person events</b>: unfortunately it is unclear when
    we will be able to again have events in Barcelona, Lisbon, London, and
    Munich. We hope to restart in autumn 2021
  </div>
</div>
