<div>
  <h3 class="section-head">Event schedule</h3>
  <div>
    <b>Barcelona (BCN)</b>:
    <br/>
    2020: 
    <a href="/post/jan-15th-2020-geomobbcn-details">15 Jan</a>
  </div>
  <div class="p20">
    <b>Lisbon (LX)</b>:
    <br/>    
    2020: June
  </div>    
  <div class="p20">
    <b>London (LON)</b>:
    <br/>
    2020:
    <a href="/post/jan-8th-2022-geomoblon-details">8 Jan</a>,
    <a href="/post/mar-18th-2020-geomoblon-details">18 Mar</a>
  </div>
  <div class="p20">
    <b>Munich (MUC)</b>:
    <br/>
    2020: 26 Mar, 18 June, 22 Oct
  </div>
</div>
