<div>
  <h3 class="section-head pt1">Event schedule</h3>
  <div class="pt10">
    <b>Online</b>:
    <a href="/post/april-7th-2020-geomob-details">7 April</a>,
    <a href="/post/may-6th-2020-geomob-details">6 May</a>,
    <a href="/post/june-10th-2020-geomob-details">10 June</a>        
  </div>
  
  <div class="pt10">
    <b>Barcelona (BCN)</b>:
    <a href="/post/jan-15th-2020-geomobbcn-details">15 Jan</a>,
    <span style="text-decoration:line-through"><a href="/post/may-6th-2020-geomobbcn-details">6 May</a></span>,
    23 Sept    
  </div>
  <div class="p20">
    <b>Lisbon (LX)</b>: <span style="text-decoration:line-through">June</span>
  </div>    
  <div class="p20">
    <b>London (LON)</b>:
    <a href="/post/jan-8th-2022-geomoblon-details">8 Jan</a>,
    <span style="text-decoration:line-through"><a href="/post/mar-18th-2020-geomoblon-details">18 Mar</a></span>,
    17 June,
    16 Sept,
    18 Nov    
  </div>
  <div class="p20">
    <b>Munich (MUC)</b>:
    <span style="text-decoration:line-through"><a href="/post/mar-26th-2020-geomobmuc-details">26 Mar</a></span>,
    18 June,
    22 Oct
  </div>
</div>
