<div class="row p20">
  <div class="col-md-12">      
    <h4>London Venue Partners:</h4>
    <div class="section-sub">&nbsp;</div>
  </div>
</div>
<div class="row p20">
  <div class="col-md-6 ctr">
    <a href="https://geovation.uk">
      <img src="/images/geovation_margin.png" alt="GEOVATION" width="200" height="26">
    </a>         
  </div>
  <div class="col-md-6 ctr">
    <a href="https://www.geog.ucl.ac.uk">
      <img src="/images/UCL_margin.png" alt="UCL Dept. of Geography" width="200" height="73">
    </a>
  </div>
</div>
