<div class="p20">
  <h3 class="section-head">Venue Partners</h3>

  <div class="p10">    
    <h4>London</h4>
    <div class="section-sub">&nbsp;</div>
  </div>    
  <div class="p10 ctr">
    <a href="https://geovation.uk">
      <img src="/images/geovation_margin.png" alt="GEOVATION" width="200" height="26">
    </a>     
  </div>
  <div class="p20 ctr">
    <a href="https://www.geog.ucl.ac.uk">
      <img src="/images/UCL_margin.png" alt="UCL Dept. of Geography" width="200" height="73">
    </a>     
  </div>

  <div class="p10">    
    <h4>Barcelona</h4>
    <div class="section-sub">&nbsp;</div>
  </div>    
    
  <div class="p20 ctr">
    <a href="https://coworkidea.com/en/">
      <img src="/images/coworkidea.png" alt="Coworkidea" width="200" height="60">
    </a>     
  </div>
    
</div>
