<div class="p20">
  <h3 class="section-head">What is #geomob?</h3>        
  
  Started in 2008, #geomob is a series of regular events for London and
  Barcelona location based service creators. We meet every two or three
  months, and provide a
  relaxed forum to discuss geoinnovation, whether for fun or profit. Please
  <a href="https://opencagedata.com/contact">get in touch</a> if you would
  like to speak.
</div>
<div class="p10">
  <a href="/past-speakers">Directory of past speakers</a>.
</div>
