---
layout: default
---
<div class="row">
  <div class="col-md-12">
  <a href="/">Home</a> &gt; <a href="/podcast/"> Podcast </a>
  <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
  </div>
</div>  

<div class="row">
  <div class="col-md-4">
    <div id="sidebar">
      {% include subscribe-to-podcast.html %}          
      {% include stay-informed.html %}
    </div>
  </div>
  <div class="col-md-8">
    {{ content }}
    {% include podcast-hosts.html %}
  </div>
</div>
